[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
flask = "==2.2.5"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
